{% extends 'blogapp/base.html' %}
{% block title %}Create a Blog Post - My Blog{% endblock%}
{% block content %}
    <div class="container mt-5">
        <h2>Create a New Blog Post</h2>
        <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label class="form-label">Title</label>
                {{ form.title }}
            </div>
            <div class="mb-3">
                <label class="form-label">Content</label>
                {{form.content}}
            </div>
            <div class="mb-3">
                <label class="form-label">Author</label>
                {{form.author}}
            </div>
            <button type="submit" class="btn btn-primary">Publish</button>
        </form>
        <a href="{% url 'blog-home' %}" class="btn btn-secondary mt-3">Back to Home</a>
    </div>
{% endblock %}