{% extends 'blogapp/base.html' %}
{% block title %}Edit Blog Post - My Blog{% endblock%}
{% block content%}
    <div class="container mt-5">
        <h2>Edit Blog Post</h2>
        <form method="POST" class="mt-4">
            {% csrf_token %}
            <div class="mb-3">
                <label class="form-label">Title</label>
                {{form.title}}
            </div>
            <div class="mb-3">
                <label class="form-label">Content</label>
                {{form.content}}
            </div>
            <div class="mb-3">
                <label class="form-lable">Author</label>
                {{form.author}}
            </div>
            <button type="submit" class="btn btn-success">Update Post</button>
            <a href="{% url 'blog-detail' post.id %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
{% endblock %}